@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
input {
  border: 0;
  outline: 0;
}
.subtitle {
  color: rgb(112, 112, 112);
  font-weight: 600;
}
.todo {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.todo__container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: red; */
}
.todo__title {
  color: black;
  font-size: 16pt;
}
.todo__title input {
  margin-left: 5px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: 700;
}
.input-box__label h4 {
  font-size: 14pt;
  font-weight: 500;
}
.input-box {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 14pt;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.2);
}
.todo__category {
  width: 100%;
}
.radio-btn__wrapper {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.radio-btn {
  width: 240px;
  height: 140px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #3174da;
  box-shadow: 0px 0px 4px rgba(27, 118, 255, 0.75);
}
.circle::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: #3174da;
  box-shadow: 0px 0px 4px rgba(27, 118, 255, 0.75);
  border-radius: 999px;
}
.circle.personal {
  border-color: #f82ca3;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
.circle.personal::after {
  background-color: #f82ca3;
  border-color: #f82ca3;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
input:checked ~ .circle::after {
  width: 15px;
  height: 15px;
  opacity: 1;
}

.add-todo__btn {
  margin: 30px 0;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: dodgerblue;
  box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.2);
}
.list {
  padding: 0;
}
.list li {
  box-sizing: content-box;
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 14pt;
  list-style: none;
}
.list input {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.list .input-text {
  font-size: 14pt;
  font-weight: 500;
  margin: 0 15px;
  width: 330px;
}
.list button {
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 12pt;
}
.list button.edit-btn {
  background: purple;
  color: #fff;
}
.list button.edit-btn::after {
  border: #fff;
}
.list button.delete-btn {
  background-color: orangered;
  color: #fff;
}
.list button.edit-btn:active,
.list button.delete-btn:active {
  transform: scale(0.9);
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #3174da;
  cursor: pointer;
}
.checkbox::after {
  transition: 0.2s ease-in-out;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.business .checkbox {
  box-shadow: 0px 0px 4px rgba(27, 118, 255, 0.75);
}
.personal .checkbox {
  border: 2px solid #f82ca3;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
.personal.completed .checkbox {
  border: 2px solid #f82ca3;
}
.checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
}
.business.completed .checkbox::after {
  background-color: #3174da;
}
.personal.completed .checkbox::after {
  background-color: #f82ca3;
}
.business.completed .input-text,
.personal.completed .input-text {
  text-decoration: line-through;
  color: #555;
}
